.form {
    margin-bottom: 28px;
}
.task-form {
    width: 50%;
    font-size: 22px ;
    vertical-align: top;
    padding-left: 5px;
}
.btn-add {
    padding: 6px  15px;
    border: none;
    font-size: 18px;
    color: #fff;
    background: #282c34;
}