.task {
    margin: 10px;
    border: 1px solid #eee;
    box-shadow: 0 2px 2px #ccc;
    width: 400px;
    padding: 20px;
    display: inline-block;
}
.form-btn {
    margin-left: 70%;
    background: transparent;
    border: none;
    font-size: 20px;
}